.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.link.matching {
    stroke: #F33405;
    stroke-width: 2.0px;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
    fill: #1f77b4;
}

.node.cover {
    fill: #339933;
}
